.heeder{
    background-color: #F5F5F5;
    width: 100%;
    padding: 0;
    margin: 0;
}
.logo{position: absolute;
  width: 30px;
  height: 30px;
  left: 0px;
  top: 17px;

}

.vector{position: absolute;
  width: 17px;
  height:17px;
  right: 30px;
  top: 24px;

} 

.side-title{
     width: 260px;
    height: 65px; 
    left: 500px;;
    top: 15px;
    margin-left: 3%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
     margin: 0; 
    

    background: -webkit-linear-gradient( #F61B5A, #FE8A00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   }

    .bg {
        background-image: url("images/1.png");

        width: 100%;
        height: 174px;
         left: 0px;
        top: 75px;
    
    }

    .details{

      font-size: large;
      text-align: right;
    }





    .more {
color: #F61B5A;
/* text-align: center; */


    }